@font-face {
    font-family: 'FiraBold';
    src: url('assets/fonts/FiraCode-Bold.woff') format('woff');
}

@font-face {
    font-family: 'FiraRegular';
    src: url('assets/fonts/FiraCode-Regular.woff') format('woff');
}

canvas {
    border: 1px solid black;
    image-rendering: pixelated;
    width: 1200px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}