@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

canvas {
    border: 1px solid #777;
    image-rendering: pixelated;
    width: 800px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Fira Code', monospace;
    color: #777
}

#patchnotes {
    width: 100%;
}

#patchnotes > div {
    border-top: 1px solid black;
    padding: 10px;
}